@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.right-content {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3px;
}
.right-content p {
  margin-top: 10px;
  margin-left: 10px;
}
.language-change {
  display: flex;
  align-items: center;
  color: #fd0;
  margin-right: 0px;
}
.language-change select {
  margin-left: 5px;
  background: none;
  color: white;
  padding: 2px 0px;
  text-align: center;
}
.language-change option {
  background-color: black;
  color: #fd0;
}